<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% bundle %}
    - /_assets/fonts.css
    - /_assets/bootstrap-arimo.min.css
    - /_assets/bootstrap-responsive.min.css
    {% endbundle %}
    <link href="/favicon.png" rel="shortcut icon" type="image/png">
</head>
<body>
<div class="row-fluid">
    <div class="span10">
        <blockquote class="pull-right"><h4><a class="no-link" href="/">{{ site.description }}</a></h4>
            <small><a class="no-link" href="http://blog.darkoverlordofdata.com">{{ site.name }}</a></small>
        </blockquote>
    </div>
</div>
<div class="container">
